table {
  width: 100%;
}

.search-filter {
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.18);
}
.mat-form-field {
  font-size: 14px;
  width: 95%;
  margin: 0 auto;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px;
}

.list-container {
  overflow: auto;
  margin: 0 auto;
  width: 95%;
}

.option-container {
  padding-left: 1rem;
}

.option {
  mat-icon {
    padding-right: 0.5rem;
  }
  .delete-icon,
  .edit-icon {
    visibility: hidden;
  }

  .delete-icon:hover,
  .edit-icon:hover {
    cursor: pointer;
  }
}

tr:hover {
  .delete-icon,
  .edit-icon {
    visibility: visible;
  }
}

.table-w-5 {
  width: 5%;
}

.table-w-20 {
  width: 20%;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 3%;
}
.truncate-cell {
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
