<h1 class="header-text" align="start">
  {{ "form.editLocationMessage" | translate }}
</h1>

<form
  id="apps-form"
  [formGroup]="locationForm"
  #formDirective="ngForm"
  (submit)="onSubmit(formDirective)"
>
  <mat-form-field
    class="custom-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationTable.studioUrl" | translate }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="studioUrl"
      autocomplete="off"
      required
    />
    <mat-error *ngIf="locationForm.controls['studioUrl'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
    <mat-error *ngIf="locationForm.controls['studioUrl'].errors?.pattern">{{
      "form.studioUrlErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>
</form>
<div align="end">
  <button #cancel mat-button color="primary" [mat-dialog-close]="false">
    {{ "button.genericCancelText" | translate }}
  </button>
  <button
    class="save-btn"
    type="submit"
    [disabled]="locationForm.invalid"
    mat-raised-button
    color="primary"
    form="apps-form"
    #update
    mat-raised-button
    [mat-dialog-close]="true"
  >
    {{ "button.genericSaveText" | translate }}
  </button>
</div>
