/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #f2f2f2;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --header-height: 60px;
  --content-area-size: calc(100vh - var(--header-height));
  --main-area-size: calc(100vh - var(--header-height));
}

.green-snackbar {
  background-color: #26b442;
  color: white;
}
