<div class="create-container">
  <button
    *ngIf="!showForm"
    type="button"
    (click)="getForm()"
    class="create-btn"
    mat-raised-button
    color="primary"
  >
    <span class="create-span">+</span>
    {{ "button.genericCreateText" | translate }}
  </button>
  <button
    *ngIf="showForm"
    type="button"
    (click)="getForm()"
    class="create-btn"
    mat-raised-button
    color="primary"
  >
    <span class="create-span">-</span>
    {{ "button.genericCloseText" | translate }}
  </button>
</div>

<form
  *ngIf="showForm"
  id="locationForm"
  [formGroup]="locationForm"
  #formDirective="ngForm"
  (submit)="onSubmit(formDirective)"
>
  <mat-form-field
    class="customerId-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationList.customerId" | translate }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="customer_id"
      autocomplete="off"
      required
      placeholder="{{ 'locationList.customerId' | translate }}"
    />
    <mat-error *ngIf="locationForm.controls['customer_id'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    class="environment-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationList.environment" | translate }}</mat-label>
    <mat-select
      placeholder="{{ 'locationList.environment' | translate }}"
      formControlName="environment"
    >
      <mat-option [value]="option" *ngFor="let option of environment">{{
        option
      }}</mat-option>
    </mat-select>

    <mat-error *ngIf="locationForm.controls['environment'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    class="appId-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationList.appId" | translate }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="app_id"
      autocomplete="off"
      placeholder="{{ 'locationList.appId' | translate }}"
    />

    <mat-error *ngIf="locationForm.controls['app_id'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    class="studioUrl-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationList.studioUrl" | translate }}</mat-label>
    <input
      type="url"
      matInput
      formControlName="studio_url"
      autocomplete="off"
      required
      placeholder="{{ 'exampleUrl' | translate }}"
    />
    <mat-error *ngIf="locationForm.controls['studio_url'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
    <mat-error *ngIf="locationForm.controls['studio_url'].errors?.pattern">{{
      "form.studiUrlErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>

  <button
    type="reset"
    mat-button
    color="primary"
    (click)="locationForm.reset()"
  >
    {{ "button.genericClearText" | translate }}
  </button>
  <button
    class="save-btn"
    type="submit"
    [disabled]="locationForm.invalid"
    mat-raised-button
    color="primary"
    form="locationForm"
    mat-raised-button
  >
    {{ "button.genericSaveText" | translate }}
  </button>
</form>
