<div class="create-container">
  <button
    type="button"
    (click)="showForm ? (showForm = false) : (showForm = true)"
    class="create-btn"
    mat-raised-button
    color="primary"
  >
    <ng-container *ngIf="!showForm; else closeForm">
      <span class="create-span">+</span>
      {{ "button.genericCreateText" | translate }}
    </ng-container>

    <ng-template #closeForm>
      <span class="create-span">-</span>
      {{ "button.genericCloseText" | translate }}
    </ng-template>
  </button>
</div>

<form
  *ngIf="showForm"
  id="locationForm"
  [formGroup]="locationForm"
  #formDirective="ngForm"
  (submit)="onSubmit(formDirective)"
>
  <mat-form-field
    class="customer-id-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationTable.customerId" | translate }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="customerId"
      autocomplete="off"
      required
      placeholder="{{ 'locationTable.customerId' | translate }}"
    />
    <mat-error *ngIf="locationForm.controls['customerId'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
    <mat-error *ngIf="locationForm.controls['customerId'].errors?.pattern">{{
      "form.customerIdErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    class="environment-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationTable.environment" | translate }}</mat-label>
    <mat-select
      placeholder="{{ 'locationTable.environment' | translate }}"
      formControlName="environment"
    >
      <mat-option [value]="option" *ngFor="let option of environment">{{
        option
      }}</mat-option>
    </mat-select>

    <mat-error *ngIf="locationForm.controls['environment'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    class="app-id-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationTable.appId" | translate }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="appId"
      [matAutocomplete]="auto"
      required
      placeholder="{{ 'locationTable.appId' | translate }}"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let appId of appIdSuggestions | async"
        [value]="appId"
      >
        <span>{{ appId }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="locationForm.controls['appId'].errors?.pattern">{{
      "form.appIdErrorMessage" | translate
    }}</mat-error>
    <mat-error *ngIf="locationForm.controls['appId'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    class="studio-url-field-form"
    color="primary"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>{{ "locationTable.studioUrl" | translate }}</mat-label>
    <input
      type="url"
      matInput
      formControlName="studioUrl"
      autocomplete="off"
      required
      placeholder="{{ 'exampleUrl' | translate }}"
    />
    <mat-error *ngIf="locationForm.controls['studioUrl'].errors?.required">{{
      "form.genericFormFieldRequiredErrorMessage" | translate
    }}</mat-error>
    <mat-error *ngIf="locationForm.controls['studioUrl'].errors?.pattern">{{
      "form.studioUrlErrorMessage" | translate
    }}</mat-error>
  </mat-form-field>

  <button type="reset" mat-button color="primary" (click)="onClear()">
    {{ "button.genericClearText" | translate }}
  </button>
  <button
    class="save-btn"
    type="submit"
    [disabled]="locationForm.invalid"
    mat-raised-button
    color="primary"
    form="locationForm"
    mat-raised-button
  >
    {{ "button.genericSaveText" | translate }}
  </button>
</form>
