<h1 mat-dialog-title *ngIf="data.code >= 500">
  {{ "dialog.genericServerError" | translate }}
</h1>
<div mat-dialog-content>
  <p id="message">{{ data.message }}</p>
</div>
<div class="actions" mat-dialog-actions>
  <button
    *ngIf="!data.retry"
    mat-raised-button
    color="primary"
    form="locationForm"
    mat-raised-button
    mat-dialog-close
  >
    {{ "button.genericOkText" | translate }}
  </button>
  <button
    *ngIf="data.retry"
    mat-raised-button
    color="primary"
    (click)="onRetry()"
  >
    {{ "dialog.genericErrorDialogRetryButtonText" | translate }}
  </button>
  <button
    *ngIf="data.retry"
    mat-button
    color="primary"
    [mat-dialog-close]="false"
  >
    {{ "button.genericCancelText" | translate }}
  </button>
</div>
